<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBg7d4by-nk3qwHQffWdZPet0W0k5WZ_go</string>
	<key>GCM_SENDER_ID</key>
	<string>670048616046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vibecheq.prod</string>
	<key>PROJECT_ID</key>
	<string>vibecheq-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>vibecheq-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670048616046:ios:b8368de02bb8ddebe8707f</string>
	<key>DATABASE_URL</key>
	<string>https://vibecheq-prod-default-rtdb.firebaseio.com</string>
</dict>
</plist>